{% extends '_layout' %}

{% block content %}

  <div class="home">
    {% for sectionEntry in entry.sections.all() %}
      {% include '_components/sectionComponent.twig' with {
        sectionEntry: sectionEntry
      } only %}
    {% endfor %}
  </div>
{% endblock %}
